.App {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-left: 103px;
    padding-right: 103px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F1FCFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

@media all and (max-width: 768px) {
    .App {
        max-width: 100%;
        width: 100%;
        padding: 20px;
    }
}