.transfersNumber {
    display: flex;
    flex-direction: column;
    max-width: 232px;
    border-radius: 5px;
    gap: 20px;
}
.transfersNumberList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #FFFFFF;
}
.transfersNumber-title {
    display: flex;
    font-size: 14px;
    width: 192px;
    height: 12px;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.transfersNumberList {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.allLoading {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding-left: 20px;
}
.allLoadingText {
    color: #2196F3;
}

@media all and (max-width: 768px) {
    .transfersNumber {
        max-width: 90%;
        width: 100%;
    }
    
    .transfersNumberList {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
